/* old color was #335CAD ; new is #005DA3*/
/*background color: #F6F7F8; */

body{
background-color: #D3D8DC;
margin: 0;
padding: 0;
}
a{
transition: all 0.2s ease;
}
#login{
top: 0;
right: 1em;
width: 100px;
height: 25px;
background-color: #005DA3;
text-align: center;
position: fixed;
font-family: 'Titillium Web', sans-serif;
text-decoration: none;
border: 1px;
border-radius: 25px;
-webkit-box-shadow: 0px 2px 23px 4px rgba(122,117,122,1);
-moz-box-shadow: 0px 2px 23px 4px rgba(122,117,122,1);
box-shadow: 0px 2px 23px 4px rgba(122,117,122,1);
}
#login a {
color: #F6F7F8;
font-size: 1rem;
text-decoration: none;
font-weight: 400;
}
#login a:hover {
color: gray;
}
#login a:active {
border-bottom: 2px solid gray;
}
#nav{
margin-top: 60px;
margin-left: auto;
margin-right: auto;
width: 950px;
height: 35px;
background-color: #005DA3;
}
#tab{
margin-top: 5px;
display: inline-block;
font-family: 'Titillium Web', sans-serif;
text-decoration: none;
}
#tab a{
padding: 10px 0;
color: #F6F7F8;
font-size: 1rem;
text-decoration: none;
font-weight: 400;
}
#tab a:hover{
color: gray;
}
#tab a:active{
border-bottom: 2px solid gray;
}
#main{
background-color: #F6F7F8;
height: 1500px;
width: 950px;
margin-left: auto;
margin-right: auto;
-webkit-box-shadow: 0px 2px 23px 4px rgba(122,117,122,1);
-moz-box-shadow: 0px 2px 23px 4px rgba(122,117,122,1);
box-shadow: 0px 2px 23px 4px rgba(122,117,122,1);
}
#logup{
width: 100%;
height: 400px;
background-color: #1A2E56;
}
#logup a{
text-decoration: none;
}
#logup a:hover{
color: #F6F7F8;
}
#logup a:active{
border-bottom: 2px solid gray;
}
#subhead{
font-family: 'Titillium Web', sans-serif;
text-decoration: none;
color: #005DA3;
font-size: 1.1rem;
font-weight: 400;
}
#copyright{
height: 20px;
margin-top: 60px;
text-align: center;
margin-left: auto;
margin-right: auto;
background-color: #005DA3;
color: #F2F2F2;
line-height: 15pt;
font-family: "p22-underground-1","p22-underground-2", century gothic, futura;
letter-spacing: 1px;
font-size: 10px; 
}
#small-logo{
display: block;
width:100px; 
margin-top:-30px;
margin-left: -30px;
margin-right: auto;
margin-bottom:-20px;
}
#large-logo
{
margin-top:-30px;
width:200px;
display:block;
margin-left: auto;
margin-right: auto;
}
#content
{
font-family: 'Titillium Web', sans-serif;
color:#005DA3;
display:block;
margin-top:40px;
margin-left: auto;
margin-right: auto;
text-align: center;
}
.logup-titles
{
	font-family: 'Titillium Web', sans-serif;
	color:#F6F7F8;
	margin-bottom: -5px;
}