body{
background-color: #D3D8DC;
margin: 0;
padding: 0;
}
a{
transition: all 0.2s ease;
}
#login{
top: 0;
right: 1em;
width: 4%;
height: 25px;
background-color: #5974AA;
text-align: center;
position: fixed;
font-family: 'Titillium Web', sans-serif;
text-decoration: none;
border: 1px;
border-radius: 25px;
}
#login a {
color: #F6F7F8;
font-size: 1rem;
text-decoration: none;
font-weight: bold;
}
#login a:hover {
color: gray;
}
#login a:active {
border-bottom: 2px solid gray;
}
#nav{
margin-top: 60px;
margin-left: auto;
margin-right: auto;
width: 950px;
height: 35px;
background-color: #5974AA;
}

#tab{
width: 40%; 
margin-top: 5px;
display: inline-block;
font-family: 'Titillium Web', sans-serif;
text-decoration: none;
}
#tab a {
padding: 10px 0;
color: #F6F7F8;
font-size: 1rem;
text-decoration: none;
font-weight: bold;
}
#tab a:hover {
color: gray;
}
#tab a:active {
border-bottom: 2px solid gray;
}
#main{
background-color: #F6F7F8;
height: 1500px;
width: 950px;
margin-left: auto;
margin-right: auto;
-webkit-box-shadow: 0px 2px 23px 4px rgba(122,117,122,1);
-moz-box-shadow: 0px 2px 23px 4px rgba(122,117,122,1);
box-shadow: 0px 2px 23px 4px rgba(122,117,122,1);
}
#copyright{
height: 20px;
margin-top: 60px;
text-align: center;
margin-left: auto;
margin-right: auto;
background-color: #5974AA;
color: #F2F2F2;
line-height: 15pt;
font-family: "p22-underground-1","p22-underground-2", century gothic, futura;
letter-spacing: 1px;
font-size: 10px; 
}
